<h1>QUOTE OF THE DAY</h1>
<b><font size="6" face="verdana" color="green">"<%= @quotes.body if(@quotes.check != 0) %>"</font></b>
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By"<%= @quotes.name if(@quotes.check != 0) %>"</br>
<%=	 puts @quotes.check %>






